//-------------------- font-weight 100 ~ 900 --------------------//

$class: fw-;
@for $i from 100 through 900 {
  .#{$class}#{$i} {
    font-weight: $i;
  }
}

//-------------------- font-size 12 rem ~ 1000 rem(12 px ~ 100 px) --------------------//

$class: fs-;
@for $i from 12 through 1000 {
  .#{$class}#{$i} {
    font-size: $i * 0.1rem;
  }
}
